.grid {
    border: 3px solid black;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
  }

.grid-square {
    border: 1px solid black;
    height: 40px;
    width:40px;
    text-align: center;
    padding: 0;
}

.grid-square.initial {
    background-color: darkcyan;
}

.grid-square.third {
    border-left: 3px solid black;
}

.hint {
    background-color: brown;
}

.selected.hint {
    background-color: orange;
}

.row {
    margin: 0;
    height: 40px
}

.row.third {
    border-top: 3px solid black;
}

/* button:hover {
    border-color: #646cff;
  } */