@import "../../constants.scss";

table, th, td {
    border: 3px solid $gridline;
    border-collapse: collapse;
  }

.grid-square {
    border: 1px solid $gridline;
    height: 40px;
    width:40px;
    text-align: center;
    padding: 0;

    + .third-column {
        border-left: 3px solid  $gridline;
    }
}

.grid-square.initial {
    background-color: $coral;
}

.grid-square.hint {
    background-color: $green;
}

.grid-square.selected {
    background-color: $orange;
}

.row {
    margin: 0;
    height: 40px;

    + .third-row {
        border-top: 3px solid $gridline;
    }
}

